{% block sidus_bootstrap_collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set prototype_vars = {} %}
            {% if style is defined %}
                {% set prototype_vars = prototype_vars|merge({'style': style}) %}
            {% endif %}
            {% set field = prototype %}
            {% set prototype_html = block('sidus_bootstrap_collection_item') %}
            {% set attr = attr|merge({'data-prototype': prototype_html }) %}
            {% set attr = attr|merge({'data-prototype-name': prototype_name }) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }}>
            <ul class="bootstrap-collection {{ sortable ? 'sortable-collection' }}"
                {% if prototype is defined %}data-input-pattern="{{ prototype.vars.full_name }}"{% endif %}>
                {% for field in form %}
                    <li>{{ block('sidus_bootstrap_collection_item') }}</li>
                {% endfor %}
            </ul>
            {{ block('sidus_bootstrap_collection_add_button') }}
        </div>
    {% endspaceless %}
{% endblock %}

{% block sidus_bootstrap_collection_add_button %}
    {% if not form.vars.disabled and form.vars.allow_add %}
        <a href="#{{ form.vars.id }}" class="btn btn-success"
           data-addfield="collection" data-collection="{{ form.vars.id }}"
           {% if prototype is defined %}data-prototype-name="{{ prototype_name }}"{% endif %}
           title="{{ form.vars.add_button_text|trans }}">
            <i class="fa fa-plus"></i>
        </a>
    {% endif %}
{% endblock %}

{% block sidus_bootstrap_collection_item %}
    {% if not form.vars.disabled and form.vars.sortable %}
        <span class="btn btn-link position-handler">
            <i class="fa fa-bars"></i>
        </span>
    {% endif %}
    {{ form_widget(field) }}
    {% if prototype is defined and prototype.children|length > 1 %}
        <hr class="embed-separator"/>
    {% endif %}
    {% if not form.vars.disabled and form.vars.allow_delete %}
        <a href="#" class="btn btn-danger pull-right remove-action" data-removefield="collection"
           data-field="{{ field.vars.id }}" title="{{ form.vars.delete_button_text|trans }}">
            <i class="fa fa-trash-o"></i>
        </a>
    {% endif %}
    {{ form_errors(field) }}
{% endblock %}

{% block sidus_bootstrap_collection_label %}
    {% set widget_add_btn = false %}
    {{ block('form_label') }}
{% endblock %}

{% block sidus_switch_widget -%}
    {% spaceless %}
        <div class="sidus-switch">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            <label for="{{ id }}">
                <span class="slider"></span>
            </label>
        </div>
    {% endspaceless %}
{%- endblock %}

{% block sidus_wysiwyg_widget %}
    {% if form.vars.disabled %}
        <div class="form-control form-disabled" disabled="disabled">{{ value|raw }}</div>
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{% endblock %}

{% block sidus_combo_data_selector_widget %}
    {% spaceless %}
        <div class="row sidus-combo-selector">
            <div class="col-md-5 col-xs-12">
                {{ form_widget(form.family) }}
            </div>
            <div class="col-md-7 col-xs-12">
                {% for widget in form %}
                    {{ form_widget(widget) }}
                {% endfor %}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block sidus_tabbed_data_widget %}
    {% spaceless %}
        {% if form.parent == null %}
            {% if render_fieldset %}<fieldset>{% endif %}
            {% if show_legend %}{{ block('form_legend') }}{% endif %}
        {% endif %}

        {% for child in form %}
            {% if '__tab_' not in child.vars.name %}
                {{ form_row(child) }}
            {% endif %}
        {% endfor %}

        {% if form.vars.tabbed %}
        {{ form_tabs(form) }}
        <div class="tab-content">
        {% endif %}

        {{ block('form_rows_visible') }}

        {% if form.vars.tabbed %}
        </div>
        {% endif %}

        {{ form_rest(form) }}

        {% if form.parent == null %}
            {% if render_fieldset %}</fieldset>{% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{# Mopa Bootstrap overrides #}
{% block tabs_widget %}
    {% spaceless %}
        <ul class="{{ form.vars.attr.class }}">
            {% for tab in form.vars.tabs %}
                {% set class = (tab.active ? 'active ' : '') ~ (tab.disabled ? 'disabled' : '') %}
                {% if not tab.valid %}
                    {% set class = class ~ ' tab-danger' %}
                {% endif %}
                <li{% if class|trim is not empty %} class="{{ class }}"{% endif %}>
                    <a data-toggle="tab" href="#{{ tab.id }}">
                        {% if tab.icon %}{{ mopa_bootstrap_icon(tab.icon) }}{% endif %}
                        {{ tab.translate_label ? tab.label|trans({}, tab.translation_domain)|raw : tab.label|raw }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endspaceless %}
{% endblock %}

{% block help_label %}
    <span class="help-block">{{ help_label|trans({}, translation_domain)|raw }}</span>
{% endblock help_label %}

{% block form_label %}
    {% if 'checkbox' not in block_prefixes or widget_checkbox_label in ['label', 'both'] %}
        {% spaceless %}
            {% if label is not same as(false) %}
                {% if label is empty %}
                    {%- if label_format is defined and label_format is not empty -%}
                        {% set label = label_format|replace({
                            '%name%': name,
                            '%id%': id,
                        }) %}
                    {%- else -%}
                        {% set label = name|humanize %}
                    {%- endif -%}
                {% endif %}
                {% if not compound %}
                    {% set label_attr = label_attr|merge({'for': id}) %}
                {% endif %}
                {% set label_attr_class = '' %}
                {% if layout == 'horizontal' %}
                    {% set label_attr_class = 'control-label ' ~ label_attr_class ~ horizontal_label_class %}
                {% endif %}
                {% if horizontal_label_div_class %}
                    <div class="{{ horizontal_label_div_class }}">
                {% endif %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ " " ~ label_attr_class ~ (required ? ' required' : ' optional'))|trim }) %}
                <label{% for attrname,attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {{ translate_label ? label|trans({}, translation_domain)|raw : label|raw }}
                {{- block('label_asterisk') }}
                {% if 'collection' in form.vars.block_prefixes and widget_add_btn|default(null) and form.vars.allow_add == true %}
                    &nbsp;{{ block('form_widget_add_btn') }}
                {% endif %}
                {% if help_label %}
                    {{ block('help_label') }}
                {% endif %}
                {% if help_label_tooltip.title %}
                    {{ block('help_label_tooltip') }}
                {% endif %}
                {% if help_label_popover.title %}
                    {{ block('help_label_popover') }}
                {% endif %}
                </label>
                {% if horizontal_label_div_class %}
                    </div>
                {% endif %}
            {% endif %}
        {% endspaceless %}
    {% endif %}
{% endblock form_label %}

{% block sidus_datetime_picker_widget %}
    {% spaceless %}
        <div data-provider="sidus-datetimepicker" class="input-group date" data-format="{{ format }}"
             data-locale="{{ locale }}">
            {% set type = 'text' %}
            {{ block('form_widget_simple') }}
            <span class="input-group-addon">{{ mopa_bootstrap_icon('calendar') }}</span>
        </div>
    {% endspaceless %}
{% endblock sidus_datetime_picker_widget %}
