{% block sidus_bootstrap_collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set prototype_vars = {} %}
            {% if style is defined %}
                {% set prototype_vars = prototype_vars|merge({'style': style}) %}
            {% endif %}
            {% set field = prototype %}
            {% set prototype_html = block('sidus_bootstrap_collection_item') %}
            {% set attr = attr|merge({'data-prototype': prototype_html }) %}
            {% set attr = attr|merge({'data-prototype-name': prototype_name }) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }}>
            <ul class="bootstrap-collection {{ sortable ? 'sortable-collection' }}"
                data-input-pattern="{{ prototype.vars.full_name }}">
                {% for field in form %}
                    <li>{{ block('sidus_bootstrap_collection_item') }}</li>
                {% endfor %}
            </ul>
            {{ form_errors(form) }}
            {{ block('sidus_bootstrap_collection_add_button') }}
        </div>
    {% endspaceless %}
{% endblock %}

{% block sidus_bootstrap_collection_add_button %}
    {% if not form.vars.disabled and form.vars.allow_add %}
        <a href="#{{ form.vars.id }}" class="btn btn-success"
           data-addfield="collection" data-collection="{{ form.vars.id }}"
           data-prototype-name="{{ prototype_name }}" title="{{ form.vars.add_button_text|trans }}">
            <i class="fa fa-plus"></i>
        </a>
    {% endif %}
{% endblock %}

{% block sidus_bootstrap_collection_item %}
    {% if not form.vars.disabled and form.vars.sortable %}
        <i class="fa fa-bars position-handler"></i>
    {% endif %}
    {{ form_widget(field) }}
    {% if prototype.children|length > 1 %}
        <hr class="embed-separator"/>
    {% endif %}
    {% if not form.vars.disabled and form.vars.allow_delete %}
        <a href="#" class="btn btn-danger pull-right remove-action" data-removefield="collection"
           data-field="{{ field.vars.id }}" title="{{ form.vars.delete_button_text|trans }}">
            <i class="fa fa-trash-o"></i>
        </a>
    {% endif %}
    {{ form_errors(field) }}
{% endblock %}

{% block sidus_bootstrap_collection_label %}
    {% set widget_add_btn = false %}
    {{ block('form_label') }}
{% endblock %}

{% block autocomplete_row %}
    {{ block('form_row') }}
{% endblock %}

{% block sidus_switch_widget -%}
    {% spaceless %}
        <div class="sidus-switch">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            <label for="{{ id }}">
                <span class="slider"></span>
            </label>
        </div>
    {% endspaceless %}
{%- endblock %}

{% block sidus_wysiwyg_widget %}
    {% if form.vars.disabled %}
        <div class="form-control form-disabled" disabled="disabled">{{ value|raw }}</div>
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{% endblock %}

{% block sidus_combo_data_selector_widget %}
    {% spaceless %}
        <div class="row sidus-combo-selector">
            <div class="col-md-5 col-xs-12">
                {{ form_widget(form.family) }}
            </div>
            <div class="col-md-7 col-xs-12">
                {% for widget in form %}
                    {{ form_widget(widget) }}
                {% endfor %}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}
